* {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: rgb(222, 255, 244);
}

nav {
  margin-left: auto;
  background-color: aliceblue;

}

nav ul {
  list-style-type: none;
  display: flex;
  padding-bottom: 1vh;
  padding-left: 5px;
}

td {
  border: 1px solid #00a6ff;
  border-bottom: 1px solid #00a6ff;
  padding: 3px 3px;
  text-align: center;
}

h1 {
  padding: 2vh;
}

h2 {
  text-align: center;
  margin-bottom: 3vh;
}

div {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
