<!-- author: meera malhotra
    date: 3/16
    description: base html
    project/templates/project/base.html -->

{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Libre</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <header>
      <h1>Libre</h1>
      {% if request.user.is_authenticated %}
      {% if profile %}
      <li style="list-style: none">Hi, {{ profile.first_name }} 👋</li><br>
      {% endif %}
      {% endif %}

      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'profiles_all' %}">Profiles</a></li>
          <li><a href="{% url 'books' %}">Library</a></li>
          {% if request.user.is_authenticated %}
            {% if profile %}

            <li><a href="{% url 'show_profile' profile.pk %}">My Profile</a></li>
            <li><a href="{% url 'analytics' profile.pk %}">My Analytics</a></li>
            <li><a href="{% url 'suggest' profile.pk %}">Book Recs</a></li>

            {% endif %}


          <li><form id="logout" method="post" action="{% url 'logout' %}" >
            {% csrf_token %}
            <button type="submit" class="nav-link-button">Logout</button>
          </form></li>

          {% else %}

          <li><a href="{% url 'login' %}">Login</a></li>

          {% endif %}

        </ul>
      </nav>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <p>&copy; M Productions </p>
    </footer>
  </body>
</html>
