<!-- author: meera malhotra
    date: 3/20
    description: see all books in a library
    project/templates/project/books.html -->

{% extends 'project/base.html' %}

{% block content %}

<style>
  .cover {
    width:20%
  }

  .title a{
    text-decoration: none;
    font-style: italic;
    color: #dd236a; 
    font-size: 2.6vh;
  }

  .author {
    color: #dd236a; 
    font-size: 2.5vh;
    font-weight: bold;

  }
</style>

<!-- use a loop to render all the books w their title author and cover -->

<div>
  <table>
    <tr>
      <th>Book Cover</th>
      <th>Title</th>
      <th>Author</th>
    </tr>
    {% for b in books %}

    <tr>
      <td class = "cover">
        <a href="{% url 'book' b.pk %}">
          {% if b.book_cover %}
          <img src="{{ b.book_cover.url }}" alt="book cover" style="width:88px; height:140px;">
          {% endif %}
        </a>
          
      
      
      </td>
      <td class = "title">
        <a href="{% url 'book' b.pk %}">
          {{ b.title }}
        </a>
      </td>
      <td class ="author">  
        {{ b.author }}         
      
      </span>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}