<!-- author: meera malhotra
    date: 4/10
    description: a page to upload book and add to the database
    project/templates/project/book_upload.html -->

{% extends 'project/base.html' %}

{% block content %}

<style>

h1 {
    color:#dd236a;
    text-align: center;
    padding-bottom: 2vh;
}

input {
    margin-top: 2vh;
    display: block;
    margin: 0.5em auto;
}

.input-sub {
    text-align: center;
    padding-top: 5vh;
}
</style>

<h1>Upload Your Book to Review</h1>

<!-- form to upload book and add to database, then take you to review with book autopopulated-->
<form action="{% url 'book_upload' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <div class="input-sub">
        <input type="submit" name="submit" value="Submit">
    </div>
</form>
{% endblock %}