<!-- author: meera malhotra
    date: 4/16
    description: show reviews on a newsfeed
    project/templates/project/news_feed.html -->

    {% extends 'project/base.html' %}

    {% block content %}

    <style>
      .back {
        text-decoration: none;
        background-color: pink;
        padding: 8px;
        border-radius: 9px;
        color: #dd236a;
      }

      img {
        border: 3px solid rgb(255, 152, 169);

      }

    </style>

    <!-- show users feed, with all users friends reviews + their reviews -->
      <h2 style="color: #dd236a;">{{ profile.first_name }} {{ profile.last_name }}’s Review Feed</h2>
    
      <p style="text-align: center; "><a class="back" href="{% url 'show_profile' profile.pk %}">Back to Profile</a></p><br>

    
        {% for review in profile.get_feed %}
        <a style="text-decoration: none;" href="{% url 'show_profile' review.profile.pk %}">

          <img src="{{ review.profile.pfp.url }}" alt="{{ review.profile }}" style="width:60px;height:80px;border-radius:30px;"> 
        </a>

        <a href="{% url 'show_profile' review.profile.pk %}" style="color: black; text-decoration: none;">
          <strong>{{ review.profile.first_name }} {{ review.profile.last_name }}</strong> reviewed 
        </a>
            <!-- show all info about book reviewed -->
          <em>{{ review.book.title }}</em> by {{ review.book.author }}<br><br>

           Rating: {{ review.rating }}/5 ⭐
          <p>{{ review.review }}</p>
          <hr><br>
        {% endfor %}

    
    
    {% endblock %}

