<!-- author: meera malhotra
    date: 4/16
    description: show reviews on a newsfeed
    project/templates/project/news_feed.html -->

    {% extends 'project/base.html' %}

    {% block content %}

    <style>
      .back {
        text-decoration: none;
        background-color: pink;
        padding: 8px;
        border-radius: 9px;
        color: #dd236a;
      }

      img {
        border: 3px solid pink;

      }

    </style>
      <h2 style="color: #dd236a;">{{ profile.first_name }} {{ profile.last_name }}’s News Feed</h2>
    
      <p style="text-align: center; "><a class="back" href="{% url 'show_profile' profile.pk %}">Back to Profile</a></p><br>

    
        {% for review in profile.get_feed %}
          <img src="{{ review.profile.pfp.url }}" alt="{{ review.profile }}" style="width:60px;height:80px;border-radius:20px;"> </a>
          <strong>{{ review.profile.first_name }} {{ review.profile.last_name }}</strong> reviewed 
          <em>{{ review.book.title }}</em> by {{ review.book.author }}<br><br>

           Rating: {{ review.rating }}/5 ⭐
          <p>{{ review.review }}</p>
          <hr><br>
        {% endfor %}

    
    
    {% endblock %}

