<!-- author: meera malhotra
    date: 4/16
    description: show friend suggestions
    project/templates/project/friend_suggest.html -->

    {% extends 'project/base.html' %}

    {% block content %}

    <style>
      img {
        margin: auto;
      }

    </style>
      <h2 style="color: #dd236a;">People You May Know...</h2>
        
      {% if profile.get_friend_suggestions %}
          {% for suggestion in profile.get_friend_suggestions %}
    
          <img src="{{ suggestion.pfp.url }}" style="width:150px;height:200px;"><br>
    
          <a href="{% url 'show_profile' suggestion.pk %}">
                {{ suggestion.first_name }} {{ suggestion.last_name }}<br>
              </a> <br>
              <a href="{% url 'add_friend' suggestion.pk %}"> Click here to add {{ suggestion.first_name }} as a friend</a> <br><br>
      
          {% endfor %}
      {% else %}
        <p>No suggestions yet...</p>
      
      
        {% endif %}
    
      <p><a href="{% url 'show_profile' profile.pk %}">Return to profile</a></p>
    {% endblock %}
    