<!-- author: meera malhotra
    date: 4/16
    description: show friend suggestions
    project/templates/project/friend_suggest.html -->

    {% extends 'project/base.html' %}

    {% block content %}

    <style>

      .back {
        text-decoration: none;
        background-color: pink;
        padding: 8px;
        border-radius: 9px;
        color: #dd236a;
      }

      .name, .name:visited {
        text-decoration: none;
        color: #dd236a;
      }

      .friends {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

    </style>

    <!-- show possible friends -->
      <h2 style="color: #dd236a;">People You May Know...</h2>
      <p style="text-align: center; "><a class="back" href="{% url 'show_profile' profile.pk %}">Back to Profile</a></p><br>

      <div class="friends">
        <!-- if there are friends to show, display suggestions -->
      {% if profile.get_friend_suggestions %}
          {% for suggestion in profile.get_friend_suggestions %}
          <a href="{% url 'show_profile' suggestion.pk %}">

          <img class="profile-pic" src="{{ suggestion.pfp.url }}" style="width:150px;height:200px;">
        </a>
    
              <p class="name">{{ suggestion.first_name }} {{ suggestion.last_name }}</p>
              <!-- add as friend -->
              <a class="back" href="{% url 'add_friend' suggestion.pk %}"> Click here to add {{ suggestion.first_name }} as a friend</a> 
              <br><br>
      
          {% endfor %}
      {% else %}
        <p>No suggestions yet...</p>
      
      
        {% endif %}
      </div>
    {% endblock %}
    