{% extends "project/base.html" %}

{% block content %}
  {% if top_recs %}
    <h2>Our Top Recs For You</h2>
    <ul>  {% for book in top_recs %}
        <li>
          <a href="{% url 'book' book.pk %}">{{ book.title }} by {{ book.author }}</a>
        </li>
      {% endfor %}
    </ul>

  
  {% endif %}

  {% if suggestions %}
    <h2>Book Recs Based On What Your Friends Are Reading</h2>
    <ul>
      
      {% for book in suggestions %}
        <li>
          <a href=  "{% url 'book' book.pk %}">{{ book.title }} by {{ book.author }} </a>
        </li>
      {% endfor %}
        </ul>
  {% else %}

    <p>No suggestions yet! Try adding friends!</p>
  {% endif %}

  {% if genre_books %}
    <h2>Book Recs Based On Your Favorite Genres</h2>
          <ul> {% for book in genre_books %}
          <li>
          <a href="{% url 'book' book.pk %}">
            {{ book.title }} by {{ book.author }}</a>
        </li>


      {% endfor %}
    </ul>
  {% else %}
    <p>No suggestions yet! Try reviewing some more books!   </p>
  {% endif %}

{% endblock %}
