<!-- author: meera malhotra
    date: 4/29
    description: show book suggestions
    project/templates/project/get_suggestions.html -->

{% extends "project/base.html" %}

{% block content %}

<style>
  h2 {
    color: #dd236a;
  }

  .page-list a {
    color: #dd236a;
    margin-bottom: 2px;
    font-size: 2.7vh;
  }
</style>

<!-- show recs based on friends, genres, or both (top recs) -->

  {% if top_recs %}
    <h2>Our Top Recs For You</h2>
    <ul>  {% for book in top_recs %}
        <li class="page-list">
          <a href="{% url 'book' book.pk %}">{{ book.title }} by {{ book.author }}</a>
        </li>
      {% endfor %}
    </ul> <br>

  
  {% endif %}

  {% if suggestions %}
    <h2>Book Recs Based On What Your Friends Are Reading</h2>
    <ul>
      
      {% for book in suggestions %}
      <li class="page-list">
          <a href=  "{% url 'book' book.pk %}">{{ book.title }} by {{ book.author }} </a>
        </li>
      {% endfor %}
        </ul>
  {% else %}

    <p>No suggestions yet! Try adding friends!</p>
  {% endif %}

  {% if genre_books %}

    <h2>Book Recs Based On Your Favorite Genres</h2>
          <ul> {% for book in genre_books %}
            <li class="page-list">

          <a href="{% url 'book' book.pk %}">
            {{ book.title }} by {{ book.author }}</a>
        </li>


      {% endfor %}
    </ul>
  {% else %}
    <p>No suggestions yet! Try reviewing some more books!   </p>
  {% endif %}

{% endblock %}
