<!-- project/templates/base.html -->
{% extends 'project/base.html' %}

{% block content %}
<!-- This basic authentication form works.
- need to set "next" to redirect to correct page.
-->

<style>
    h1 {
      color: #dd236a; 
      margin: auto;
      text-align: center;
      font-size: 4vh;
    }

    form {
        margin: auto;
        text-align: center;
        padding: 3vh;
    }
    
    div {
        padding: 2.5vh;
    }

    button {
        margin-top: 2vh;
    }

    label {
        padding-right: 4px;
        color: #dd236a;
    }

    button {
        background-color: pink;
        /* border-radius: 40%; */
        height: 5vh;
        width: 12vh;
        color:#dd236a;
        border-color: #a5fbff;
        margin-bottom: 3vh;
    }

    input {
        border-color: #C9AEDC; 
        box-shadow: none;
        border-style: solid;
    }

    .register-here{
        background-color: pink;
        color:#dd236a;
        padding:1.5vh 2.5vh;
        font-size: 2vh;
        text-decoration: none;
        border-color: #a5fbff; 
        border-style: solid;
    }

    .account {
        color:#dd236a;
        font-size: 3vh;
        font-weight: bold;
    }

    hr {
        border-color: #a5fbff; 
        color: #a5fbff;
        border-top: 5px dotted;

    }
  </style>

<h1>Login</h1><br>
<hr class="bottom-hr"></hr>
<div>
<form method="post" action="{% url 'login' %}" >
    {% csrf_token %}
    {{form}}
    <!-- This basic login form works, but after login in
     assumed the existance of a page at /registration/profile, which
     does not exist.  -->
     {% if request.GET.next %}
     <input type="hidden" name="next" value="{{request.GET.next}}">
     {% else %}
     <input type="hidden" name="next" value="{% url 'profiles_all' %}">
     {% endif %}

    <button type="submit">Login</button> <br>
    
    <p class="account"> Don't have an account? </p><br>
    <a class="register-here" href="{% url 'make_profile' %}">Register</a>

</form>
</div>
<hr class="top-hr">


{% endblock %}