<!-- author: meera malhotra
    date: 4/17
    description: logout page
    project/templates/project/logout.html -->

{% extends 'project/base.html' %}

{% block content %}

<style>
  h3 {
    color: #dd236a; 
    margin: auto;
    text-align: center;
    font-size: 4vh;
  }

  div {
    text-align: center;
  }
  .para {
    color:#dd236a;
  }

  main {
    padding-bottom: 13vh;
  }

  .login-link {
    background-color: pink;
        color:#dd236a;
        padding:1.5vh 2.5vh;
        font-size: 2vh;
        text-decoration: none;
        border-color: #a5fbff; 
        border-style: solid;
  }
</style>

<h3>Thanks for visiting Libre</h3> <br>
<h3>📚</h3>

<div>
<p class="para">Miss us?</p> <br>
<p class="para" style="margin-bottom: 7vh;">Login again here:</p>
<a class="login-link" href="{% url 'login' %}">Login</a>
</div>

{% endblock %}
