<!-- author: meera malhotra
    date: 4/17
    description: page to create and save a profile
    project/templates/project/make_profile.html -->

<style>
    h1 {
        color:#dd236a;
        text-align: center;
        padding-bottom: 2vh;
    }

    input {
        margin: auto;
    }

    th {
        width: 38%;
    }

    input {
        margin-top: 2vh;
        display: block;
        margin: 0.5em auto;
    }

    .input-sub {
        text-align: center;
        padding-top: 5vh;
    }

</style>

{% extends 'project/base.html' %}

    {% block content %}
    
    <h1> Create a New Profile</h1>
    <!-- form to create profile and generate profile page afterwards -->
    
    <form action="{% url 'make_profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <table>
            {{ user_creation_form.as_table }}
        </table>
        <div class="input-sub">
        <input type="submit" name="submit" value="Submit">
         </div>
    </form>
    
    {% endblock %}
      