<style>
    h1 {
        color:#dd236a;
        text-align: center;
        padding-bottom: 2vh;
    }

    input {
        margin: auto;
    }
</style>

{% extends 'project/base.html' %}

    {% block content %}
    
    <h1> Create a new profile</h1>
    <!-- form to write profile and generate profile page afterwards -->
    
    <form action="{% url 'make_profile' %}" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
    
        <table>
            {{ user_creation_form.as_table }}
        </table>
    
        <input type="submit" name="submit" value="Submit">
    </form>
    {% endblock %}
      