{% extends 'project/base.html' %}

{% block content %}

<style>
  h2 {
    color: #dd236a; 
    font-size: 4vh;
  }

  .book-review {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      border-bottom: 1px solid #ffb7b7;

      padding-bottom: 2vh;
    }

    .book-cover {
      margin-right: 20px;
    }

    .review-content {
      flex: 1;
    }

    .book-title {
      font-weight: bold;

        margin: 0 0 5px 0;
    }

    .book-review-text {
      margin: 5px 0;
    }

    .book-rating {
      margin: 5px 0;
    }

    .link {
      display: block;
      width: fit-content;
      margin: 0 auto 2vh auto;
      text-align: center;
      color: #ff5858;
      background-color: #fff7e5;
      border-style: solid;
      border-color: #dd236a;
      padding: 4px 20px;
      border-radius: 5px;
      text-decoration: none;
  }

  .update-delete, .update-delete:hover, .update-delete:visited, .update-delete:link, .update-delete:active {
    margin-right: 10px;
    color: #270092;
    font-size: 2vh;
  }

  #first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;  
  }



</style>


<h2 >{{ profiles.first_name }}'s Page</h2>

  <div id="first">
    {% if profiles.pfp %}
      <img class="profile-pic" src="{{ profiles.pfp.url }}" alt="profile picture" style="width:120px; height:160px; padding-bottom: 2.4vh;">
    {% endif %}
  </div>


      {% if request.user.is_authenticated %}
          {% if request.user == profiles.user %}

      <a class="link" href="{% url 'book_upload' %}">Review A New Book</a>
      <a class="link" href="{% url 'feed' %}">View Your Friends and Their Posts</a>
      <a class="link" href="{% url 'friend_suggest' %}">Make New Friends</a><br>
      {% endif %}
      {% endif %}


</div>



<h2 style="margin-top: 7vh;">{{ profiles.first_name }}'s Library</h2>

{% for book in profiles.get_books %}
  {% for review in book.get_reviews %}
    {% if review.profile == profiles %}

    <div class="book-review">
      <div class="book-cover">
        <img src="{{ book.book_cover.url }}" alt="book cover" style="width:75px; height:120px;">
      </div>
      <div class="review-content">
        <p class="book-title">{{ book.title }} by {{ book.author }}</p>
              <p style="font-style: italic;">{{ book.genre }}</p>
        <p class="book-rating">Rating: {{ review.rating }} ⭐</p>

        
        <p class="book-review-text">{{ review.review }}</p>

        {% if request.user.is_authenticated %}
        {% if request.user == profiles.user %}
        <a class="update-delete" href="{% url 'update' review.pk %}">Update Review</a>
        <a class="update-delete" href="{% url 'delete' review.pk %}">Delete Review</a>
        {% endif %}
        {% endif %}


        {% endif %}



      </div>
    </div>
  {% endfor %}
{% endfor %}



{% endblock %}

