{% extends 'project/base.html' %}

{% block content %}

<style>

    h1 {
        color:#dd236a;
        text-align: center;
        padding-bottom: 2vh;
    }
    
    input {
        margin-top: 2vh;
        display: block;
        margin: 0.5em auto;
    }

    .input-sub {
        text-align: center;
        padding-top: 5vh;
    }
</style>

<h1>Review Your Book</h1>

<!-- form to write status and generate profile afterwards -->
<form action="{% url 'review_upload' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <div class="input-sub">
        <input type="submit" name="submit" value="Submit">
    </div>
</form>
{% endblock %}