 <!-- author: meera malhotra
    date: 4/17
    description: page with every profile
    project/templates/project/show_all.html -->

{% extends 'project/base.html' %}

{% block content %}

<!-- use a loop to go through every profile and display basic info  -->
<div>
  <table>
    <tr>
      <th>Profile Pic</th>
      <th>Full Name</th>
      <th>Email</th>
    </tr>
    {% for p in profiles %}
    <tr>
      <td>
        <a href="{% url 'show_profile' p.pk %}">
          {% if p.pfp %}
          <img class="profile-pic" src="{{ p.pfp.url }}" alt="{{ p.first_name }}'s profile picture" style="width:75px; height:90px;">
          {% endif %}
        </a>
          
      
      
      </td>
      <td>
        <a href="{% url 'show_profile' p.pk %}">
          <span class="profile-name">
          {{ p.first_name }} {{ p.last_name }}
        </span>

        </a>
      </td>
      <td>  
        <span class="profile-name">
        {{ p.email }}         
      
      </span>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
