{% extends 'restaurant/base.html' %}

{% block content %}

<!-- loops to display images and quotes -->

<div>
  <h1>Confirmation</h1>

  <p>Hi, {{name}}!</p>

  <h2>You ordered: </h2>
  {% for food in chosen %}
  <p>{{ food }}</p>
  {% endfor %} 
  {% for cake in cupcake %}
  <p>{{cake}}</p>
  {% endfor %} 

  <br>

  <h2>Order Information</h2>
  <p> Your order will be ready at {{time}}</p>
  <p> Your total is: ${{sum}}</p>
  <p>Special Instructions: {{special_instructions}}</p>

  <h2>Customer Information</h2>
  <p>Email: {{email}}</p>
  <p>Phone: {{phone}}</p>
</div>

{% endblock %}
