    <!-- author: meera malhotra
date: 2/14
restaurant/confirmation.html
display the information entered in the form -->

{% extends 'restaurant/base.html' %}

{% block content %}


<div>
  <h1>Confirmation</h1>

  <p>Hi, {{name}}!</p>

  <h2>You ordered: </h2>
  <!-- loops to display picked food -->

  {% for food in chosen %}
  <p>{{ food }}</p>
  {% endfor %} 
  <!-- loops to display picked cupcake -->

  {% for cake in cupcake %}
  <p>{{cake}}</p>
  {% endfor %} 

  <br>

  <h2>Order Information</h2>
  <!-- give time total and special instructions -->

  <p> Your order will be ready at {{time}}</p>
  <p> Your total is: ${{sum}}</p>
  <p>Special Instructions: {{special_instructions}}</p>

  <h2>Customer Information</h2>
  <p>Email: {{email}}</p>
  <p>Phone: {{phone}}</p>
</div>

{% endblock %}
