{% extends 'restaurant/base.html' %}

{% block content %}

<html>

    <div>
        <p><strong>Location:</strong>Bay State, Boston</p>
        <h3>Hours of Operation:</h3>
        <ul>
          <li><strong>Monday:</strong> Closed </li> <br>
          <li><strong>Tuesday:</strong> 7:00 AM - 5:00 PM</li> <br>
          <li><strong>Wednesday:</strong> 7:00 AM - 5:00 PM</li> <br>
          <li><strong>Thursday:</strong> 7:00 AM - 5:00 PM</li> <br>
          <li><strong>Friday:</strong> 7:00 AM - 5:00 PM</li> <br>
          <li><strong>Saturday:</strong> 7:00 AM - 5:00 PM</li> <br>
          <li><strong>Sunday:</strong> Closed</li> <br>
        </ul>
      </div>
      

    {% endblock %}
    
</html>