    <!-- author: meera malhotra
date: 2/14
restaurant/order.html
logic to order and provide confirmation -->

{% extends 'restaurant/base.html' %}
{% load static %}

<!-- context variables for images and quotes to be picked randomly -->

{% block content %}
<div>
  <br>

<!-- send to confirmation with a post method-->

<h2>Place An Order</h2>
<form action="{% url 'confirmation' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="" value="">
  <input type="checkbox" name="croissant">
  Croissant $2
  <input type="checkbox" name="cake">
  Black Forest Cake $15
  <input type="checkbox" name="bread">
  Baguette $3

  <!-- select cupacke with options -->

  <p>Select a Cupcake</p>
  <input type="checkbox" name="cakeSelection" value="Chocolate Fudge Cupcake" id="chocolate-cupcake">
  <label for="chocolate-cupcake">Chocolate Fudge Cupcake, $3</label> <br>
  <input type="checkbox" name="cakeSelection" value="Vanilla Buttercream Cupcake" id="vanilla-cupcake">
  <label for="vanilla-cupcake">Vanilla Buttercream Cupcake, $3</label> <br>
  <input type="checkbox" name="cakeSelection" value="Red Velvet Cream Cheese Cupcake" id="red-velvet-cupcake">
  <label for="red-velvet-cupcake">Red Velvet Cream Cheese Cupcake, $3</label>
  

    <!-- display special -->

  <h3>Today's Special</h3>
  <p>{{special}}</p><input type="checkbox" name="special">

      <!-- text area for special instructions -->

  <h3>Special Instructions</h3>
  <p>Please share any special instructions:</p>
  <textarea name="special_instructions" rows="3" cols="60"></textarea>

      <!-- required customer information -->

  <h3>Customer Information</h3>
  <p>Name:</p>
  <input type="text" required name="name">
  <p>Email:</p>
  <input type="text" required name="email">
  <p>Phone:</p>
  <input type="text" required name="phone">

  <h3>Place Your Order</h3>
  <input type="submit">

</form>
</div>

{% endblock %}
