<!-- mini_fb/templates/mini_fb/base.html -->
{% load static %}
<html>
    <head>
        <title>Facebook</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Blog</h1>
            <nav>
                <ul>
                    
                    <li><a href="{% url 'show_all' %}">Show All</a></li>
                </ul>
            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>
