<!-- author: meera malhotra
    date: 2/27
    description: form to create status
    mini_fb/templates/mini_fb/create_status_form.html -->

{% extends 'mini_fb/base.html' %}

{% block content %}

<h1> Write a status update</h1>

<!-- form to write status and generate profile afterwards -->
<form action="{% url 'create_status' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" name="submit" value="Submit">
    <input type="file" name = "files" multiple />
</form>
{% endblock %}