<!-- author: meera malhotra
    date: 2/20
    description: show a single profile
    mini_fb/templates/mini_fb/show_profile.html -->

{% extends "mini_fb/base.html" %}

{% block content %}

<br>
<h2>Profile Info</h2>

<table> 
    <tr>
      <th>Profile Pic</th>
      <th> Full Name </th>
      <th>Email</th>
      <th>City</th>
    </tr>
      
    <!-- show a single profile in table form -->

    <tr>
      <td>
        <img src="{{ profiles.image_url }}" alt="{{ profiles.image_url }}" style="width: 220px; height: 300px;">
      </td>
      <td>{{ profiles.first_name }} {{ profiles.last_name }}</td>
      <td>{{ profiles.email }}</td>
      <td>{{ profiles.city }}</td>
    </tr>
</table>

{% if request.user.is_authenticated %}
<h3>
  <a href="{% url 'update_profile' profiles.pk %}">Update Profile</a>
</h3>

{% endif %}

<h3>Status Messages</h3>

    <!-- link to create status messages -->

{% if request.user.is_authenticated %}

<h3>
  <a href="{% url 'create_status' profiles.pk %}">Create a Status</a>
</h3>

{% endif %}

    <!-- loop to display status message for each person -->

{% for status in profiles.get_status_messages %}
    <p>Posted @ {{ status.timestamp }}</p> <br>
    <p>{{ status.message }}</p>

    {% if request.user.is_authenticated %}

    <a href="{% url 'update' status.pk %}">Update this status</a>
    <a href="{% url 'delete' status.pk %}">Delete this status</a>
    {% endif %}


      {% for img in status.get_images %}
      <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}' style="width:200px;height:220px;">
      {% endfor %}

{% endfor %}

    <!-- loop to display friends for each person -->

<h3>{{ profiles.first_name }}'s Friends</h3>

{% for friend in profiles.get_friends %}
    <a href="{% url 'show_profile' friend.pk %}">{{ friend.first_name }} {{ friend.last_name }}</a>

    <a href="{% url 'show_profile' friend.pk %}">
    <img src="{{ friend.image_url }}" style="width:150px;height:200px;">
    </a>

{% endfor %}

<br></br>

{% if request.user.is_authenticated %}

<h3>
  <a href="{% url 'friend_suggestions' profiles.pk %}">Show Friend Suggestions</a>
</h3>

<h3>
  <a href="{% url 'news_feed' profiles.pk %}">Show News Feed</a>
</h3>
{% endif %}


{% endblock %}

