<!-- templates/show_all.html -->

{% extends 'mini_fb/base.html' %}
<!-- scriptlet code to display the value of the variable `profiles` 
-->
{% block content %}
<div>
    <h2>Profiles</h2>
    
    <table>
        <tr>
            <th>Profile Pic</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>City</th>
        </tr>
            {% for p in profiles %}
            <tr>
                <td>
                    <a href="{% url 'show_profile' p.pk %}">
                    <img src="{{ p.image_url }}" alt="{{ p.image_url }}"  style="width:90px; height:90px;">
                     </a>
                </td>
                <td> <a href="{% url 'show_profile' p.pk %}">

                    {{ p.first_name }} {{ p.last_name }}
                </a>
                </td>

                <td>{{ p.email }}</td>
                <td>{{ p.city }}</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}