<!-- author: meera malhotra
    date: 2/20
    description: show a single profile
    mini_fb/templates/mini_fb/show_profile.html -->

{% extends "mini_fb/base.html" %}

{% block content %}

<div>
<h2>Profile Info</h2>

<table> 
    <tr>
      <th>Profile Pic</th>
      <th> Full Name </th>
      <th>Email</th>
      <th>City</th>
    </tr>
      
    <!-- show a single profile in table form -->

    <tr>
      <td>
        <img src="{{ profiles.image_url }}" alt="{{ profiles.image_url }}" style="width: 220px; height: 300px;">
      </td>
      <td>{{ profiles.first_name }} {{ profiles.last_name }}</td>
      <td>{{ profiles.email }}</td>
      <td>{{ profiles.city }}</td>
    </tr>
</table>

<h2>Status Messages</h2>

    <!-- link to create status messages -->


<h3>
  <a href="{% url 'create_status' profiles.pk %}">Create a Status</a>
</h3>

    <!-- loop to display status message for each person -->


{% for status in profiles.get_status_messages %}
    <p>Posted @ {{ status.timestamp }}</p> <br>
    <p>{{ status.message }}</p>
{% endfor %}

</div>
{% endblock %}

