{% extends "mini_fb/base.html" %}

{% block content %}

<div>
  <h2>Profile Info</h2>

<table> 
    <tr>
      <th>Profile Pic</th>
      <th> Full Name </th>
      <th>Email</th>
      <th>City</th>
    </tr>
    <tr>
      <td>
        <img src="{{ profiles.image_url }}" alt="{{ profiles.image_url }}" style="width: 220px; height: 300px;">
      </td>
      <td>{{ profiles.first_name }} {{ profiles.last_name }}</td>
      <td>{{ profiles.email }}</td>
      <td>{{ profiles.city }}</td>
    </tr>
</table>
</div>
{% endblock %}

