{% extends 'mini_fb/base.html' %}

{% block content %}

<h2>Update A Profile</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {% for field in form %}
        <tr>
            <th>{{ field.name }}</th>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <input type="submit" value="Update Profile">
            </td>
        </tr>
    </table>
</form>

<form action="{% url 'show_profile' object.pk %}" method="GET">
    <input type="submit" value="Cancel">
</form>
{% endblock %}